@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --color-primary: #0D3647;
  --font-heading: "Fahkwang", sans-serif;
}

h1, h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.2;
  strong {
    font-weight: 700;
  }
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }

.custom-color {
  color: #444;
}

.wp-editor .button.button-element,
.button.button-element {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background: var(--color-primary);
  color: #FFF;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  padding: 10px 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.custom-button-element.white a {
  color: #000!important;
  background: #e0e0e0!important;
}
.custom-button-element a[data-mce-selected] {
  background: #7e8782!important;
  border: none!important;
  box-shadow: 0 0 0 2px #bfe6ff;
}
.custom-button-element.white a[data-mce-selected] {
  background: #dcdcdc!important;
}


.wp-editor .button {
  border: 1px solid #CCC;
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  background: #dfdfdf;
  color: #000;
  margin: 0 15px 0 0;
}
.ChecklistWrap {
  column-count: 2;
}
.ChecklistWrap p {
  margin: 0 0;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  border-bottom: 1px solid #888787;
  break-inside: avoid-column;
}
.ChecklistWrap p:before {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  border-bottom: 2px solid #4c4b4b;
  border-right: 2px solid #4c4b4b;
  position: absolute;
  top: 9px;
  left: 8px;
  transform: rotate(42deg);
}